.footer{
  background-color: rgb(0, 41, 107);
}
.footer_contenedor{
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 1rem;
  
}
.footer_conten_logo{
  padding-top: 1rem;
}
.footer_logo{
  color: #ffffff;
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 2.3rem;
  padding-bottom: 1rem;
}
.footer_p_logo{
  color: #9e9e9e;
  font-size: 1.2rem;
  line-height: 36px;
}
.footer_conten_info{
  padding-top: 1rem;
}
.footer_h3{
  color: #ffffff;
  font-family: 'DM-serif Display', serif;
  font-weight: 400;
  padding-bottom: 1rem;
}
.footer_info_p{
  color: #9e9e9e;
  font-size: 1.2rem;
  line-height: 36px;
}
.footer_conten_links{
  padding-top: 1rem;
  
}
.footer_ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  
}
.footer_link{
  color: #9e9e9e;
  font-size: 1.2rem;
  line-height: 32px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.footer_link:hover{
  color: #ffffff;
  transform: translateX(1rem);
  margin-left: 10px;
}
.footer_icon{
  color: #9e9e9e;
}
.footer_conten_news{
  padding-top: 1rem;
  padding-right: 1rem;
}
form{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.footer_input{
  font-size: 1.2rem;
  border-bottom:3px solid #9e9e9e;
  border-top:0;
  border-right:0;
  border-left:0;
  background-color: transparent;
  color: #9e9e9e;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.footer_input:focus{
  outline: none;
  resize: none;
  border-bottom: 3px solid white
}

.footer_news_p{
  color: #9e9e9e;
  font-size: 1.2rem;
  line-height: 36px;
  padding-top: 1rem;
}
hr{
  margin: 1rem 0;
  border: 1px solid rgba(177, 177, 177, 0.1);
}
.footer_conten_copyright{
  display: flex;
  flex-direction: column-reverse;
  padding: .5rem 1rem 2rem 1rem;
}
.footer_copyright_p{
  color: #9e9e9e;
  font-size: 0.9rem;
}
.footer_social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.footer_icon{
  fill: #9e9e9e;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-out;
}
.footer_icon:hover{
  fill: white;
}
.scrollToTop{
  background-color: #00296b !important;
  
}

@media (min-width: 568px){
  .footer_copyright_p{
    text-align: center;
  }
}
@media (min-width: 868px){
  .footer_contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0;
    gap: 1rem;
  }
}
@media (min-width: 968px){
  .footer_conten_copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1368px){
  .footer_contenedor{
    display: grid;
    grid-template-columns: 30% 15% 25% 25%;
    padding: 2rem 0;
    
  }
  
}