.noticias{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}
.noticia_h2{
  text-align: center;
  font-weight: 400;
  font-family:'DM Serif Display', serif; 
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: rgb(0, 41, 107);
}
.noticias_contenedor{
  display: grid;
  grid-template-columns:1fr;
  gap: 1rem;
}
.noticias_card{
  background-color: #00296b;
  border-radius: 15px;
  padding: 2rem;
}
.noticias_content_legal{
  background-color: #ffffff;
  display: inline-block;
  padding: .5rem 2rem;
  border-radius: 50px;
}
.noticias_p_legal{
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  color: #00296b;
}
.noticias_h3{
  font-weight: 400;
  color: white;
  line-height: 36px;
  padding: 1.5rem 0;
  transition: all 0.3s ease-out;
}
.noticias_h3:hover{
  color: #d5f9ff;
}
.noticias_p{
  color: #9e9e9e;
  padding-bottom: 1.5rem;
}
.noticias_content_date{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1.5rem;
}
.noticias_p_date{
  text-transform: uppercase;
  color: white;
}
.noticias_hr{
  width: 25px;
  border: 2px solid white;
  margin: 0 1rem;
}
.noticias_icon_plus{
  width: 25px;
  height: 25px;
  fill: #ffffff;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.noticias_icon_plus:hover{
  fill: #d5f9ff;
  transform: scale(1.2);
  margin-left: 5px;
}

@media (min-width: 1168px){
  .noticias_contenedor{
    grid-template-columns: repeat(3, 1fr);
  }
}