.practica{
  background-color: var(--bg-white);
  padding-bottom: 4rem;
}
.practica_h2{
  text-align: center;
  font-family:'DM Serif Display', serif; 
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: var(--bg-100);

}
.practica_contenedor{
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 0;
  gap: 1rem;
}
.practica_card{
  background-color: var(--bg-100);
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 15px ;
  padding: 1.5rem;
}
.practica_card:hover{
  background-color: var(--accent-200);
  box-shadow: -5px 5px 5px -3px rgba(0,0,0,0.2);
  transition: all 0.3s ease-out;
}
.practica_content_icons{
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--accent-200);
  display: flex;
  align-items: center;
  justify-content: center;
}
.practica_item_icon{
  width: 2.5rem;
  color: var(--bg-100);
  font-weight: bold;
}
.practica_h3{
  color: var(--text-100);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.practica_card:hover > .practica_h3{
  color: var(--bg-100);
}
.practica_p{
  color: var(--text-200);
  font-size: 1.3rem;
}
.practica_card:hover > .practica_p{
  color: var(--bg-100);
}
@media (min-width: 968px){
  .practica_contenedor{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media (min-width: 1268px){
  .practica_contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 3rem 0;
  }
}
