.servicios{
  background-color: var(--bg-white);
  padding-bottom: 3rem;
}
.servicios_content{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}
.servicios_card{
  background-color: var(--bg-200);
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 15px ;
  padding: 1.5rem;
}
.servicios_card:hover{
  background-color: var(--accent-200);
  box-shadow: -5px 5px 5px -3px rgba(0,0,0,0.2);
  transition: all 0.3s ease-out;
}
.servicios_content_icons{
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color:  var(--accent-200);
  display: flex;
  align-items: center;
  justify-content: center;
}
.servicios_item_icon{
  width: 2.5rem;
  color: var(--bg-100);
  font-weight: bold;
}
.servicios_h3{
  color: var(--text-100);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.servicios_card:hover > .servicios_h3{
  color: var(--bg-100);
}
.servicios_p{
  color: var(--text-200);
}
.servicios_card:hover > .servicios_p{
  color: var(--bg-100);
}
.servicios_content_text{
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  border-radius: 15px;
}
.servicios_hr{
  width: 45px;
  height: 3px;
  background-color: var(--bg-100);
}
.servicios_content_title{
  width: 100%;
  padding: 1.5rem;
}
.servicios_content_paragraph{
  width: 100%;
  padding: 1.5rem;
}
.servicios_btn{
  background: transparent;
  border: 1px solid var(--bg-100);
  padding: 10px 20px;
  color: var(--bg-100);
  font-size: 1.3rem;
}
@media (min-width: 968px){
  .servicios_content{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .servicios_content_text{
    flex-direction: row;
  }
  .servicios_content_title{
    width: 30%;
  }
  .servicios_content_paragraph{
    width: 70%;
  }
}


