.testimonio{
  background-image: url('../assets/hunters-race-MYbhN8KaaEc-unsplash.webp');
  background-repeat: no-repeat;
  background-color: var(--primary-100);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px){
  .testimonio{
    height: 100vh;
  }
}
